body{
    font-family: 'Open Sans', sans-serif;
}

.manu-style{
    font-weight: bolder;
}

.btn-color{
    background-color: #218838;
    color: #A9D1B2;
    font-weight: bolder;
}

.btn-color:hover{
    background-color: rgb(1, 63, 17);
    font-weight: bolder;
}

.img-size{
    width: 100%;
    height: 380px;
    margin-top: 3rem;
    margin-left: 13rem;
}

.text-size{
    margin-top: 8rem;
}

.h3-size{
    color: #218838;
    font-weight: bolder;
    font-size: xx-large;
}

.h1-size{
    color: #218838;
    font-weight: bolder;
}

.h4-size{
    color: black;
    font-weight: bolder;
}

.btn2-color{
    background-color: #218838;
    color: white;
    font-weight: bolder;
}

.btn2-color:hover{
    background-color: rgb(1, 63, 17);
    font-weight: bolder;
}

.hr{
    color: gray;
}