body{
    font-family: 'Open Sans', sans-serif;
}

.manu-style{
    font-weight: bolder;
}

.btn-color{
    background-color: #218838;
    color: #A9D1B2;
    font-weight: bolder;
}

.btn-color:hover{
    background-color: rgb(1, 63, 17);
    font-weight: bolder;
}

.img-size{
    width: 100%;
    height: 380px;
    margin-top: 3rem;
    margin-left: 13rem;
}

.text-size{
    margin-top: 8rem;
}

.h3-size{
    color: #218838;
    font-weight: bolder;
    font-size: xx-large;
}

.h1-size{
    color: #218838;
    font-weight: bolder;
}

.h4-size{
    color: black;
    font-weight: bolder;
}

.btn2-color{
    background-color: #218838;
    color: white;
    font-weight: bolder;
}

.btn2-color:hover{
    background-color: rgb(1, 63, 17);
    font-weight: bolder;
}

.hr{
    color: gray;
}

.h3-second-style{
    font-weight: bolder;
    color: #218838;
}

/*
.h3-second-style ::after{
    content: "";
	display: block;
	height: .4rem;
	background: black;
	width: 8.6rem;
	margin: auto;
	margin-top: 2rem;
}
*/

.about_pic{
    border: 2px solid #28a745;
    border-radius: 2px;
    padding: 1px;
    width: 200px;
}

.h5-style{
    font-size: 20px;
}

.btn3-color{
    color: #28a745;
    text-decoration: none;
    background-color: transparent;
}

.icon-style{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 50px;
    text-align: center;
    color: #28a745;
}