body{
    font-family: 'Open Sans', sans-serif;
}

.manu-style{
    font-weight: bolder;
}

.btn-color{
    background-color: #218838;
    color: #A9D1B2;
    font-weight: bolder;
}

.btn-color:hover{
    background-color: rgb(1, 63, 17);
    font-weight: bolder;
}